<div class="row one-game mb-3 border border-info border-3">
  <div class="col">
    <h4 class="fw-bold mt-3"><%= today_pro_game.first_base_side_pro_team %></h4>
    <%= today_pro_game.first_base_side_pitcher %>
  </div>
  <div class="col pt-1 mt-4">
    <%= l today_pro_game.start_at %>
  </div>
  <div class="col">
    <h4 class="fw-bold mt-3"><%= today_pro_game.third_base_side_pro_team %></h4>
    <%= today_pro_game.third_base_side_pitcher %>
  </div>
  <div>

    <%= link_to("予想する", new_pro_game_pro_game_predict_path(today_pro_game.id), class:'btn btn-primary mb-2') %>
  </div>
</div>