<h1><%= @chatroom.name %></h1>

  <% @chats.each do |chat| %>
    <% if chat.user == current_user %>
    <%# <% binding.pry %>
      <div class="mychat">
        <%= chat.user.nickname %>
        <%= chat.body %>
        <br>
      </div>
    <% else %>
        <%= chat.user.nickname %>
        <%= chat.body %>
        <br>
    <% end %>
  <% end %>
<br>
<div class="mychat">
<%= form_with url: chatroom_chats_url(@chatroom) do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "送信" %>
<% end %>
</div>
