<% breadcrumb :chatrooms %>
<div class="container">
  <h1 class="mb-5"><%= "#{l @date, format: :short}の試合" %></h1>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <%= link_to "< 前の日", chatroom_path(@date.yesterday), class:"page-link" %>
      </li>

      <li class="page-item">
        <%= link_to "次の日 >", chatroom_path(@date.tomorrow), class:"page-link" %>
      </li>
    </ul>
  </nav>
  <% if @chatrooms.present? %>
    <% @chatrooms.each do |chatroom| %>
      <div class="chatroom border border-info border-2 py-3 mb-4 rounded">
        <%= link_to chatroom_chats_path(chatroom), class: 'text-decoration-none link-secondary', id: "entrance-chatroom-#{chatroom.id}" do %>
          <div class="row">
            <div class="row ps-5">
                <%= l chatroom.pro_game.start_at %>
            </div>
            <div class="row ps-5">
                <h3 class="fw-bold"><%= chatroom.pro_game.first_base_side_pro_team %> - <%= chatroom.pro_game.third_base_side_pro_team %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h5>本日試合はありません</h5>
  <% end %>

</div>