<%= form_with(model: user) do |form| %>
  <%= render 'shared/error_message', object: user %>

  <div class="field">
    <%= form.label :profile %>
    <%= form.file_field :profile, id: 'profile' %>
    <%= form.hidden_field :profile_cache %>
    <%= image_tag user.profile.url, id: 'profile_preview' %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %><br />
    <%= form.password_field :password %>
  </div>
  
  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
