<p id="notice"><%= notice %></p>
<div class="container text-center">
<p>
  <%= image_tag @user.profile.url, style: 'height:150px; width:150px; border-radius:50%; object-fit: cover;' %>
</p>

<p>
  <strong>ニックネーム:</strong>
  <%= @user.nickname %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>