<% breadcrumb :user, @user %>
<p id="notice"><%= notice %></p>
<div class="container text-center">
<p>
  <%= image_tag @user.profile.url, style: 'height:150px; width:150px; border-radius:50%; object-fit: cover;' %>
</p>

<p>
  <strong>ニックネーム:</strong>
  <%= @user.nickname %>
</p>

<% if @user == current_user %>
  <%= link_to t(".edit"), edit_user_path(@user), class: "edit-link-#{@user.id}" %> |
<% end %>
<%= link_to 'Back', user_path(@user) %>
</div>