<p id="notice"><%= notice %></p>
<div class="container text-center">
<p>
  <%= image_tag @user.profile.url %>
</p>

<p>
  <strong>ニックネーム:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>