<div class="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top application-header">
  <div class="container-fluid">
    <%= link_to '野球バカ実況', root_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

      <% unless current_user %>
        <li class="nav-item text-light ">
          <%= link_to 'リアルタイムチャット', chatrooms_path, class: 'nav-link', aria_current: 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to '会員登録', new_user_path, class: 'nav-link', aria_current: 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログイン', login_path, class: 'nav-link', aria_current: 'page' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ゲストログイン', guest_login_path, method: :post, class: 'nav-link', aria_current: 'page' %>
        </li>
      <% else %>

        <li class="nav-item">
          <%= link_to 'リアルタイム実況', chatrooms_path, class: 'nav-link', aria_current: 'page' %>
        </li>




        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            予想
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to '今日の試合予想', game_predicts_path, class: 'nav-link' %></li>
            <li><%= link_to '予想結果', game_predicts_results_path, class: 'nav-link' %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ユーザー
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to 'プロフィール', user_path(current_user), class: 'nav-link' %></li>
            <li><%= link_to 'プロフィール編集', edit_user_path(current_user), class: 'nav-link' %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :post, class: 'nav-link' %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            その他(まだ)
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><%= link_to 'プライバシーポリシー', static_pages_privacy_policy_path, class: 'nav-link' %></li>
            <li><%= link_to '利用規約', static_pages_terms_of_service_path, class: 'nav-link' %></li>
            <li><%= link_to '問い合わせ', new_contact_path, class: 'nav-link' %></li>
          </ul>
        </li>

        <%# 透明 %>
        <%# <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> %>
      <% end %>
      </ul>

      <%# <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>
</div>