<% breadcrumb :chatroom, @chatroom %>
<div id="data" data-chatroom-id="<%= @chatroom.id %>" data-user-id="<%= current_user.id %>"></div>
<h1 class="fw-bold" style="position: fixed; top: 80px; right: 0; left: 0; z-index: 1010; background-color: #e8e8e8;"><%= @chatroom.pro_game.first_base_side_pro_team %> - <%= @chatroom.pro_game.third_base_side_pro_team %></h1>
<div class="container">
  <div style="padding-top: 80px; padding-bottom:110px;">
    <div id="chat_container"style="">
      <%= render partial: 'chat', collection: @chats, class:'float-end' %>
    </div>
  </div>
  <div class="mt-3" style="background-color:white; flex-grow: 1; width:100%; position: relative; position: fixed; bottom: 0px;">
    <%= form_with url: chatroom_chats_url(@chatroom), local: false do |form| %>
      <div class="row">
       <div class="col px-0"><%= form.text_field :body, id: 'submitting_chat_content', class: 'form-control ms-3' %></div>
       <div class="col px-0 text-start ms-4" id="chat_submit_button"><%= form.submit "送信", class: 'btn btn-outline-primary disabled', id: 'chat_button' %></div>
       <div><p>（100文字以内）</p></div>
      </div>
    <% end %>
  </div>
</div>