<div class="row one-game m-3 fw-bold border border-info">
  <div class="col-3 mt-3">
    <h4 class="fw-bold mt-3"><%= today_pro_game.first_base_side_pro_team %></h4>
    <%= today_pro_game.first_base_side_pitcher %>
  </div>
  <div class="col-2 mt-3">
    <p class="mt-3 mb-1">あなたの予想</p>
    <h5 class="mx-auto fw-bold text-primary"><%= current_user_predict.first_base_side_score %></h5>
  </div>
  <div class="col-2 pt-4 mt-4">
    <%= l today_pro_game.start_at %>
  </div>
  <div class="col-2 mt-3">
    <p class="mt-3 mb-1">あなたの予想</p>
    <h5 class="mx-auto fw-bold text-primary"><%= current_user_predict.third_base_side_score %></h5>
  </div>
  <div class="col-3 mt-3">
    <h4 class="fw-bold mt-3"><%= today_pro_game.third_base_side_pro_team %></h4>
    <%= today_pro_game.third_base_side_pitcher %>
  </div>
  <div>
    投票済み
  </div>
</div>