<div class="d-flex mb-3">
  <div>
    <%= image_tag pro_game_predict_comment.user.profile.url, style: 'width:50px; height:50px; border-radius:50%; object-fit: cover;' %>
  </div>

  <div>
    <div class="ps-1 fw-bold d-inline">
      <%= pro_game_predict_comment.user.nickname %>
    </div>
    <span class="ms-2 bg-warning d-inline rounded" style="font-size:90%; margin-right:20px;">
      予想:
      <%= today_pro_game.first_base_side_pro_team %>
      <%= pro_game_predict_comment.user.pro_game_predicts.find_by(pro_game_id: today_pro_game.id).first_base_side_score %>-<%= pro_game_predict_comment.user.pro_game_predicts.find_by(pro_game_id: today_pro_game.id).third_base_side_score %>
      <%= today_pro_game.third_base_side_pro_team %>
    </span>
    
    <div class="px-3 py-2">
      <%= pro_game_predict_comment.body %>
    </div>
  </div>
</div>
