<% breadcrumb :pro_game_predict, @today_pro_game %>
<div class="container">
  <section class="text-center">
    <h2 class="pt-5">勝敗予想</h2>
    <% if @current_user_predict %>
      <%= render 'already_predict', { today_pro_game: @today_pro_game, current_user_predict: @current_user_predict } %>
    <% else %>
      <%= render 'today_pro_game', today_pro_game: @today_pro_game %>
    <% end %>
  </section>

  <section>
    <h4 class='mt-5'>予想コメント</h4>
    <p>(140文字以内)</p>
      <%= form_with model: @pro_game_predict_comment, url: pro_game_pro_game_predict_comments_url, local: false, class:'my-3', id: "pro_game_predict_comment_form_#{@today_pro_game.id}" do |f| %>
          <%= f.text_area :body, id:'pro_game_predict_comment_value', class: 'form-control'%>
          <%= f.submit "送信する", class: 'btn btn-outline-primary my-3' %>
      <% end %>
      <div class="pro_game_predict_comments" id="pro_game_predict_comments">
        <%= render partial: 'pro_game_predicts/pro_game_predict_comment', locals: { today_pro_game: @today_pro_game } , collection: @pro_game_predict_comments %>
      </div>
  </section>
</div>