<div class="container">
  
  <section class="text-center">
    <h2 class="pt-3">勝敗予想</h2>
    <%= render 'today_pro_game', today_pro_game: @today_pro_game %>
  </section>

  <%# <section>
    <h2 class="m-3">予想データ</h2>
    <br>
    <br>
  </section> %>
  
  <section>
  <h4>予想コメント</h4>
  <%= form_with model: @pro_game_predict_comment, url: pro_game_pro_game_predict_comments_url, local: false, class:'mt-3' do |f| %>
      <%= f.text_area :body, id:'pro_game_predict_comment_value', class: 'form-control'%>
      <%= f.submit "送信する", class: 'btn btn-primary my-3' %>
  <% end %>
    <%= render partial: 'pro_game_predicts/pro_game_predict_comment', collection: @pro_game_predict_comments %>
  </section>

</div>