<!DOCTYPE html>
<html>
  <head>
    <title>野球バカ実況</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="プロ野球の試合をリアルタイムで実況できるアプリです。またプロ野球の試合の勝敗予想もし、コメントで議論できます。" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# webpackerで管理したjsファイルを適用 %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# sproketsで管理したスタイルシートを適用 %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin-top:56px;">
    <%= render 'shared/header' %>
    <div style='position: fixed;'><%= breadcrumbs separator: " &rsaquo; " %></div>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>