<!DOCTYPE html>
<html>
  <head>
    <title>野球バカ実況</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# webpackerで管理したjsファイルを適用 %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# sproketsで管理したスタイルシートを適用 %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MK4M0LY2VT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MK4M0LY2VT');
    </script>
  </head>

  <body style="margin-top:56px;">
    <%= render 'shared/header' %>
    <div style=''><%= breadcrumbs separator: " &rsaquo; " %></div>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>